html {
    font-family: 'Quattrocento Sans', sans-serif;
}

.logo {
    text-decoration: none;
    font-size: 1.5em;
    color: #EFF5F5;
}

.nav-wrapper {
    background-color: #393E46;
}

.navbar {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 992px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links-show {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-links > a, .nav-links-show > a {
    width: 100px;
    text-decoration: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #D6E4E5;
    color: black;
}

.nav-links > a:hover, .nav-links-show > a:hover {
    background-color: #EFF5F5;
}

#burger {
    display: none;
}

#burger > i {
    color: #EFF5F5;
}

.prof-img {
    max-width: 200px;
    border-radius: 100%;
    margin: 30px auto 0;
}

h1 {
    text-align: center;
    padding: 20px 0 0;
}

#job-title {
    margin: 0 auto;
    padding: 0 0 10px;
}

main {
    display: flex;
    flex-direction: column;
}

#personal-statement {
    padding: 30px;
    max-width: 768px;
    margin: 0 auto;
    font-size: 1.1em;
}

.statement-section {
    border-top: solid #393E46;
    border-bottom: solid #393E46;
    max-width: 992px;
}

.statement-section > h2 {
    padding: 30px 0 0;
    text-align: center;
}

#skills-title {
    margin: 0 auto; 
    padding-top: 30px;
}

#skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0;
    justify-content: center;
    max-width: 992px;
    margin: 0 auto;
    border-bottom: solid #393E46;
}

.skills-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    background-color: #393E46;
    color: #EFF5F5;
    padding: 20px;
    border-radius: 10px;
}

.skills-card > h3 {
    border-bottom: solid 1px;
    padding-bottom: 10px;
    text-align: center;
}


.skills-card > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

}

.portfolio-title {
    text-align: center;
    padding: 10px 0 20px;
    font-size: 1.4em;
    margin: 20px 0 20px;
}

.portfolio-title > p {
    font-size: 0.7em;
    max-width: 768px;
    margin: 0 auto;
}

#portfolio-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 992px;
    margin: 0 auto;
}

.portfolio-card {
    width: 350px;
    height: 350px;
    background-color: #D6E4E5;
    color: black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    font-size: 1.1em;
}

.portfolio-card > p {
    font-size: 0.9em;
}

.portfolio-card:hover {
    background-color: #393E46;
    color: #EFF5F5;
}

.portfolio-card > h3, .portfolio-card > h4 {
    text-align: center;
}

footer  {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #393E46;
    height: 75px;
    margin-top: 30px;
    align-items: center;
}

footer > a {
    color: #F7F7F7;
    font-size: 1.6em;
}

.contact-links-ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0 20px 0;
}

.contact-links-ul > a {
    font-size: 1.6em;
    color: #393E46;
}

@media (max-width: 576px) {
    .logo {
        position: absolute;
        left: 20px;
    }

    .navbar {
        overflow: hidden;
        flex-direction: column;
        min-height: 70px;
    }

    .nav-links {
        display: none;
    }

    .nav-links-show {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 60px;
        width: 100%;
    }

    .nav-links-show > a {
        width: 100%;
    }

    #burger {
        display: flex;
        color: black;
        font-size: 1.4em;
        position: absolute;
        right: 20px;
        top: 25px;
    }
}